<ActionBar title="Contact Us" class="action-bar"> </ActionBar>
<ScrollView orientation="vertical" class="page">
  <GridLayout class="m-5" rows="auto auto auto">
    <StackLayout row="0" class="p-10 border list-group-item">
      <Label
        text="Contact Information"
        textWrap="true"
        class="list-group-item-heading"
      ></Label>

      <Label
        class="list-group-item-text"
        text="121, Clear Water Bay Road"
        textWrap="true"
      ></Label>
      <Label
        class="list-group-item-text"
        text="Clear Water Bay, Kowloon"
        textWrap="true"
      ></Label>
      <Label
        class="list-group-item-text"
        text="HONG KONG"
        textWrap="true"
      ></Label>
      <Label
        class="list-group-item-text"
        text="Tel: +852 1234 5678"
        textWrap="true"
      ></Label>
      <Label
        class="list-group-item-text"
        text="Fax: +852 8765 4321"
        textWrap="true"
      ></Label>
      <Label
        class="list-group-item-text"
        text="Email:confusion@food.net"
        textWrap="true"
      ></Label>
    </StackLayout>
  </GridLayout>
</ScrollView>
